#background {
  background-color: aliceblue;
  opacity: 0.8;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

#scoreDisplay {
  left: 20px;
  top: 20px;
  bottom: 0;
  right: 0;
}
